.form-group {
    display: inline-block;
    margin-right: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }

  .col-md-3 {
    display: inline-block;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.row {
  display: grid;
  grid-template-columns: 0.4fr 1fr;
}

.col-md-3 {
  display: inline-block;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}
.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}
.btn-primary.disabled, .btn-primary:disabled {
  background-color: #007bff;
  border-color: #007bff;
}

.lbl-title {
    font-size: 25px;
}

.play-list-body {
  padding: 1rem 2rem;
}

.play-list-table-header {
  width: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: 3fr 2fr 2fr 1fr;
  margin: 0;
  padding: 0;
  font-size: 90%;
  letter-spacing: 1px;
  border-bottom: solid 1px var(--color-2);
  padding-bottom: .5rem;
}

.play-list-table-header li {
  text-transform: uppercase;
  color: var(--color-4);
  opacity: .7;
}

.play-list-rows {
  width: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: 3fr 2fr 2fr 1fr;
  margin: 0;
  padding: 1rem 0 0 0;
}

.play-list-rows .track-name-opacity {
  opacity: .7;
  font-weight: 300;
}

.cover-section {
  display: flex;
  padding: 0
}

.cover-section .cover-track {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.cover-section .cover-info {
  padding: 0 1rem;
}

.cover-section .cover-info .name-track-details {
  font-size: 80%;
  opacity: .7;
}